<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ковер качества</title>
    <link rel="stylesheet" type="text/css" href="static/styles.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/services">Сервисы</a></li>
                <li><a href="#">Детализация</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <!-- Содержимое каждой страницы будет замещать этот блок -->
        {% block content %}{% endblock %}
    </main>
</body>
</html>
